.lotter-page-container .lotter-games-select {
    border-radius: 5px;
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .lotter-page-container .lotter-games-select button {
    cursor: pointer;
    height: 100%;
    width: 40px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .lotter-page-container .lotter-games-select .select {
    width: 180px;
    height: 35px;
    border: none;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
  }
  
  .lotter-page-container .lotter-games-select .text-game {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
  }
  
  .lotter-page-container .lotter-games-select .grid-text-select {
    position: absolute;
    top: 70px;
    width: 180px;
    height: 190px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
  }
  
  .lotter-page-container .lotter-games-select .grid-text-select p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 12px;
    cursor: pointer;
    color: #333333;
  }
  
  .lotter-page-container .lotter-games-select .grid-text-select p:hover {
    background-color: #efefef;
  }
  