* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lotter-page-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.lotter-page-container .lotter-sidebar {
  height: 100vh;
  background-color: #efefef;
}

.lotter-page-container .lotter-container-numbers-games {
  background-color: #efefef;
  width: 100%;
}

@media (max-width: 768px) {
  .lotter-page-container {
    flex-direction: column;
  }

  .lotter-page-container .img-web {
    display: none;
  }

  .lotter-page-container .img-mobile {
    height: 400px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .lotter-page-container .img-mobile {
    display: none;
  }
}
