.lotter-page-container .lotter-competition-text .lotter-competition {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 10px;
    margin-bottom: 5px;
  }
  
  .lotter-page-container .lotter-competition-text .lotter-competition-data {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
  }
  